In [1]:
import pandas as pd

In [55]:
#read dataset 

df = pd.read_csv(r'C:\Users\Amzad\Desktop\stock-price-prediction(main)\notebook\data\Final_Datasets_v1- x8.csv')
df=df.copy()
#take 8th column to 80 column 
df=df.iloc[:,8:68]

In [59]:
#teke every column and count the number of 0 in that column 

def drop_col_with_most_0(df,threshold=0.998):
    '''
    agrs: 
        df: dataframe
        threshold: threshold value for 0
    return:
        col_name_with_most_0: list of column name with most 0
    
    sumaary: 
        This function will take a dataframe and a threshold value and return the column name with most 0

    '''
    col_name_with_most_0 = [] 
    for i in range(0,60):
        #print the percentage of 0 in that column 
        # print(df.iloc[:,i].value_counts(normalize=True))
        #print the column name with 99% 0
        if df.iloc[:,i].value_counts(normalize=True)[0] > threshold:
            col_name_with_most_0.append(df.iloc[:,i].name)
            print(df.iloc[:,i].name)   
    
    print(len(col_name_with_most_0))
    print(col_name_with_most_0)
    return col_name_with_most_0

In [60]:
col_name_with_most_0 = drop_col_with_most_0(df,threshold=0.998)

#drop the column with most 0
df = pd.read_csv(r'C:\Users\Amzad\Desktop\stock-price-prediction(main)\notebook\data\Final_Datasets_v1- x8.csv')
df=df.copy()
df.drop(col_name_with_most_0,axis=1,inplace=True)
df.shape

CDLTASUKIGAP
CDLUNIQUE3RIVER
CDLUPSIDEGAP2CROWS
CDLXSIDEGAP3METHODS
CDLMATHOLD
CDLMORNINGDOJISTAR
CDLMORNINGSTAR
CDLONNECK
CDLRISEFALL3METHODS
CDLSEPARATINGLINES
CDLSTALLEDPATTERN
CDLSTICKSANDWICH
CDLHIKKAKEMOD
CDLIDENTICAL3CROWS
CDLINNECK
CDLKICKING
CDLKICKINGBYLENGTH
CDLLADDERBOTTOM
CDLEVENINGDOJISTAR
CDLEVENINGSTAR
CDLADVANCEBLOCK
CDLBREAKAWAY
CDLCONCEALBABYSWALL
CDL3BLACKCROWS
CDL3LINESTRIKE
CDL3STARSINSOUTH
CDL3WHITESOLDIERS
CDL2CROWS
28
['CDLTASUKIGAP', 'CDLUNIQUE3RIVER', 'CDLUPSIDEGAP2CROWS', 'CDLXSIDEGAP3METHODS', 'CDLMATHOLD', 'CDLMORNINGDOJISTAR', 'CDLMORNINGSTAR', 'CDLONNECK', 'CDLRISEFALL3METHODS', 'CDLSEPARATINGLINES', 'CDLSTALLEDPATTERN', 'CDLSTICKSANDWICH', 'CDLHIKKAKEMOD', 'CDLIDENTICAL3CROWS', 'CDLINNECK', 'CDLKICKING', 'CDLKICKINGBYLENGTH', 'CDLLADDERBOTTOM', 'CDLEVENINGDOJISTAR', 'CDLEVENINGSTAR', 'CDLADVANCEBLOCK', 'CDLBREAKAWAY', 'CDLCONCEALBABYSWALL', 'CDL3BLACKCROWS', 'CDL3LINESTRIKE', 'CDL3STARSINSOUTH', 'CDL3WHITESOLDIERS', 'CDL2CROWS']

(2432, 79)

In [61]:
#save the dataset 
df.to_csv(r'C:\Users\Amzad\Desktop\stock-price-prediction(main)\notebook\data\Final_Datasets_v2- x8.csv',index=False)

In [62]:
df.head()

,Date,Breakout,Consolidate,SMA,BBANDS_UPPER,BBANDS_MIDDLE,BBANDS_LOWER,STOCH_SLOWK,STOCH_SLOWD,CDLTAKURI,...,Gold_Close_Price,Sector_Volume,Foreign_exchange_Buy,Foreign_exchange_rate_Sell,5nn_close_price_avg,Year High,Corr1,Corr2,Beta,Gold Rate BD
0,2012-01-01,0,0,2889.46,3046.131072,2879.3750,2712.618928,87.324786,80.014288,0,...,0.00,7487500,81.99,82.00,0.000000,47.1,72.1,163.3,0.0,4605.0
1,2012-01-02,0,0,2898.30,3070.773050,2888.5500,2706.326950,88.520730,84.883000,0,...,1574.20,7383930,84.30,84.43,237.576190,45.8,71.4,162.2,0.0,4605.0
2,2012-01-03,0,0,2910.30,3096.555406,2898.9250,2701.294594,90.298507,88.714674,0,...,1603.95,8336770,81.70,81.85,238.272414,44.9,69.9,162.7,0.0,4605.0
3,2012-01-04,0,0,2919.10,3124.269793,2909.2375,2694.205207,72.412329,83.743855,0,...,1614.50,9368930,81.76,81.83,238.596000,42.4,68.2,162.8,0.0,4605.0
4,2012-01-05,0,0,2929.86,3153.510826,2925.0250,2696.539174,70.598670,77.769835,0,...,1621.50,8012520,0.00,0.00,240.238144,44.1,68.3,160.2,0.0,4605.0